In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)
from datetime import datetime

# Read Siren data / Stock l√©gal

In [3]:
print(datetime.now())
raw = pd.read_csv("./data/StockUniteLegale_utf8.zip")
print(datetime.now())

2021-02-16 10:08:23.975857

/Users/remim/dev/cdtn/enterprises/python-env/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (2,4,5,6,7,8,9,10,11,12,13,17,21,22,24,25,26) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

2021-02-16 10:11:24.482992

In [10]:
raw[['etatAdministratifUniteLegale','nomUniteLegale', 'nomUsageUniteLegale', 'denominationUniteLegale',]][:10]

,etatAdministratifUniteLegale,nomUniteLegale,nomUsageUniteLegale,denominationUniteLegale
0,A,JANOYER,NaN,NaN
1,C,BRETON,NaN,NaN
2,C,WATTEBLED,NaN,NaN
3,C,DEBRAY,NaN,NaN
4,C,DAULT,NaN,NaN
5,C,DINGEON,NaN,NaN
6,C,CARBONNET,NaN,NaN
7,C,LECRIVAIN,NaN,NaN
8,C,GODIN,NaN,NaN
9,C,CARPENTIER,VANDAMME,NaN

In [18]:
isOuvert = raw["etatAdministratifUniteLegale"] == "A"
isEmployeur = raw["caractereEmployeurUniteLegale"] == "O"
isAdmin = raw["etatAdministratifUniteLegale"] == "A"

In [19]:
employeurs = raw[isOuvert & isEmployeur & isAdmin]

In [12]:
selection = ["siren", "sigleUniteLegale", "trancheEffectifsUniteLegale", "categorieEntreprise", 'nomUniteLegale', 'nomUsageUniteLegale', 'denominationUniteLegale',
       'denominationUsuelle1UniteLegale', 'denominationUsuelle2UniteLegale',
       'denominationUsuelle3UniteLegale', "categorieJuridiqueUniteLegale", "activitePrincipaleUniteLegale", "nomenclatureActivitePrincipaleUniteLegale"]

In [ ]:
raw[raw["siren"]==350054094]

# Get Geo data for addresses

In [13]:
from os import listdir
from os.path import isfile, join
geo_files = [f for f in listdir("./data/geo/") if isfile(join("./data/geo/", f))]

In [14]:
geo_selection = ["enseigne1Etablissement","enseigne2Etablissement","enseigne3Etablissement","denominationUsuelleEtablissement", 'siren', 'siret', 'codePostalEtablissement', 'libelleCommuneEtablissement', "etatAdministratifEtablissement", "geo_adresse"]
geo = {}
for file in geo_files:
    geo[file] = pd.read_csv("./data/geo/" + file, dtype={"codePostalEtablissement":np.dtype(str)})[geo_selection]

/Users/remim/dev/cdtn/enterprises/python-env/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (12,25,27,42,43) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Users/remim/dev/cdtn/enterprises/python-env/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (25,27,43) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Users/remim/dev/cdtn/enterprises/python-env/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (12,25,27,43) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Users/remim/dev/cdtn/enterprises/python-env/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (25,43) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Users/remim/dev/cdtn/enterprises/python-env/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (12,25,27,28,29,31) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Users/remim/dev/cdtn/enterprises/python-env/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (19,25,27,42,43) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Users/remim/dev/cdtn/enterprises/python-env/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (12,25,27,28,33,42,43) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Users/remim/dev/cdtn/enterprises/python-env/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (22) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Users/remim/dev/cdtn/enterprises/python-env/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (12,25,27,28,29,31,42,43) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Users/remim/dev/cdtn/enterprises/python-env/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (12,27,33,43) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Users/remim/dev/cdtn/enterprises/python-env/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (25,27,28,29,31,43) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Users/remim/dev/cdtn/enterprises/python-env/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (12,25,27,28,29,31,33,42,43) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Users/remim/dev/cdtn/enterprises/python-env/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (27,28,29,31,43) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Users/remim/dev/cdtn/enterprises/python-env/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (12,18,25,27,43) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Users/remim/dev/cdtn/enterprises/python-env/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (12,18,21,25,27,33,36,43,56) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Users/remim/dev/cdtn/enterprises/python-env/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (12,18,27,36,43) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Users/remim/dev/cdtn/enterprises/python-env/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (12,27,42,43) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Users/remim/dev/cdtn/enterprises/python-env/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (25,28,29,31,43) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Users/remim/dev/cdtn/enterprises/python-env/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (18,19,22,25,27,28,42,43,56) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Users/remim/dev/cdtn/enterprises/python-env/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (5,12,25,27,28,29,31,34,42,43) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Users/remim/dev/cdtn/enterprises/python-env/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (12,25,27,28,29,31,43) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Users/remim/dev/cdtn/enterprises/python-env/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (12,18,25,27,42,43) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Users/remim/dev/cdtn/enterprises/python-env/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (12,27,28,29,31,43) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Users/remim/dev/cdtn/enterprises/python-env/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (12,22,27,42,43) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Users/remim/dev/cdtn/enterprises/python-env/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (18,22,25,27,42,43) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Users/remim/dev/cdtn/enterprises/python-env/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (12,25,42,43) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Users/remim/dev/cdtn/enterprises/python-env/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (27,42,43) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Users/remim/dev/cdtn/enterprises/python-env/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (12,25,42) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Users/remim/dev/cdtn/enterprises/python-env/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (12,25,27,28,29,31,33,38,43) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

/Users/remim/dev/cdtn/enterprises/python-env/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (18,25,27,43) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Users/remim/dev/cdtn/enterprises/python-env/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (12,22,25,27,43) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Users/remim/dev/cdtn/enterprises/python-env/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (12,25,27,33,36,43) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Users/remim/dev/cdtn/enterprises/python-env/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (12,27,43) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Users/remim/dev/cdtn/enterprises/python-env/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (5,12,25,27,42,43) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Users/remim/dev/cdtn/enterprises/python-env/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (27,43,56) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Users/remim/dev/cdtn/enterprises/python-env/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (7,12,19,22,25,27,28,29,31,42,43,56) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Users/remim/dev/cdtn/enterprises/python-env/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (12,28,29,31,43) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Users/remim/dev/cdtn/enterprises/python-env/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (12,25,27,28,29,31,42,43,56) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Users/remim/dev/cdtn/enterprises/python-env/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (12,25,43) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Users/remim/dev/cdtn/enterprises/python-env/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (12,25,27,28,29,31,33,42,43,56) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Users/remim/dev/cdtn/enterprises/python-env/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (5,7,12,21,22,25,27,28,29,31,36,38,42,43,44) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Users/remim/dev/cdtn/enterprises/python-env/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (12,25,27,42,43,56) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Users/remim/dev/cdtn/enterprises/python-env/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (25,27,42,43) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Users/remim/dev/cdtn/enterprises/python-env/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (12,25,27,38,43) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Users/remim/dev/cdtn/enterprises/python-env/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (5,12,25,27,28,29,31,42,43) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Users/remim/dev/cdtn/enterprises/python-env/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (22,27,42,43,56) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Users/remim/dev/cdtn/enterprises/python-env/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (12,25,42,43,56) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Users/remim/dev/cdtn/enterprises/python-env/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (18,25,27,28,29,31,42,43) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Users/remim/dev/cdtn/enterprises/python-env/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (12,25,27,28,29,31,36,42,43) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Users/remim/dev/cdtn/enterprises/python-env/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (12,25,27,33,36,42,43,56) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Users/remim/dev/cdtn/enterprises/python-env/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (5,12,18,25,27,28,29,31,33,36,42,43) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Users/remim/dev/cdtn/enterprises/python-env/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (5,12,18,25,27,28,29,31,42,43) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Users/remim/dev/cdtn/enterprises/python-env/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (5,12,21,25,27,28,29,31,36,42,43,56) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Users/remim/dev/cdtn/enterprises/python-env/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (25,27) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Users/remim/dev/cdtn/enterprises/python-env/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (27,28,29,31,33,36,43) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Users/remim/dev/cdtn/enterprises/python-env/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (5,12,25,27,33,36,42,43) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Users/remim/dev/cdtn/enterprises/python-env/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (12,18,25,27,28,29,31,33,36,42,43,56) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

/Users/remim/dev/cdtn/enterprises/python-env/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (12,22,25,27,28,29,31,42,43) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Users/remim/dev/cdtn/enterprises/python-env/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (25,27,33,43) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Users/remim/dev/cdtn/enterprises/python-env/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (5,12,25,27,28,29,31,36,42,43) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Users/remim/dev/cdtn/enterprises/python-env/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (12,18,25,27,33,42,43) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Users/remim/dev/cdtn/enterprises/python-env/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (12,22,25,27,42,43) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Users/remim/dev/cdtn/enterprises/python-env/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (12,18,27,43) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Users/remim/dev/cdtn/enterprises/python-env/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (25,27,43,56) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Users/remim/dev/cdtn/enterprises/python-env/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (12,22,25,27,28,29,31,33,42,43) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Users/remim/dev/cdtn/enterprises/python-env/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (25,27,28,29,31,34,43) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Users/remim/dev/cdtn/enterprises/python-env/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (12,25,27,33,43) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Users/remim/dev/cdtn/enterprises/python-env/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (28) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Users/remim/dev/cdtn/enterprises/python-env/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (12,25,27,28,29,31,42,43,44) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Users/remim/dev/cdtn/enterprises/python-env/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (25,27,28,29,31,33,42,43,56) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [15]:
all_geo = pd.concat(geo.values(),ignore_index=True).dropna(subset=['siret'])
all_geo = all_geo[all_geo["etatAdministratifEtablissement"] == "A"]

In [19]:
geo7 = pd.read_csv("./data/geo/geo_siret_66.csv")

/Users/remim/dev/cdtn/enterprises/python-env/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (12,25,27,28,29,31,42,43,56) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [25]:
geo7[pd.notna(geo7["enseigne1Etablissement"])]

,siren,nic,siret,statutDiffusionEtablissement,dateCreationEtablissement,trancheEffectifsEtablissement,anneeEffectifsEtablissement,activitePrincipaleRegistreMetiersEtablissement,dateDernierTraitementEtablissement,etablissementSiege,nombrePeriodesEtablissement,complementAdresseEtablissement,numeroVoieEtablissement,indiceRepetitionEtablissement,typeVoieEtablissement,libelleVoieEtablissement,codePostalEtablissement,libelleCommuneEtablissement,libelleCommuneEtrangerEtablissement,distributionSpecialeEtablissement,codeCommuneEtablissement,codeCedexEtablissement,libelleCedexEtablissement,codePaysEtrangerEtablissement,libellePaysEtrangerEtablissement,complementAdresse2Etablissement,numeroVoie2Etablissement,indiceRepetition2Etablissement,typeVoie2Etablissement,libelleVoie2Etablissement,codePostal2Etablissement,libelleCommune2Etablissement,libelleCommuneEtranger2Etablissement,distributionSpeciale2Etablissement,codeCommune2Etablissement,codeCedex2Etablissement,libelleCedex2Etablissement,codePaysEtranger2Etablissement,libellePaysEtranger2Etablissement,dateDebut,etatAdministratifEtablissement,enseigne1Etablissement,enseigne2Etablissement,enseigne3Etablissement,denominationUsuelleEtablissement,activitePrincipaleEtablissement,nomenclatureActivitePrincipaleEtablissement,caractereEmployeurEtablissement,longitude,latitude,geo_score,geo_type,geo_adresse,geo_id,geo_ligne,geo_l4,geo_l5
2,15650088,303,1565008800303,O,1988-06-01,NN,NaN,NaN,NaN,False,3,NaN,7.0,NaN,CRS,LAZARE ESCARGUEL,66000,PERPIGNAN,NaN,NaN,66136,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1996-12-31,F,PLEIN POT,NaN,NaN,NaN,50.3B,NAF1993,O,2.886840,42.699730,0.88,housenumber,7 Cours Lazare Escarguel 66000 Perpignan,66136_2950_00007,G,7 COURS LAZARE ESCARGUEL,NaN
3,15650088,873,1565008800873,O,1991-12-23,NN,NaN,NaN,NaN,False,3,NaN,30.0,NaN,AV,DU GAL GUILLAUT,66000,PERPIGNAN,NaN,NaN,66136,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1996-12-31,F,PLEIN POT,NaN,NaN,NaN,50.3B,NAF1993,O,2.894535,42.688958,0.79,housenumber,30 Avenue du G√©n√©ral Guillaut 66000 Perpignan,66136_2055_00030,G,30 AVENUE DU GENERAL GUILLAUT,NaN
95,56802820,144,5680282000144,O,2002-10-01,NN,NaN,NaN,2009-06-27T03:11:42,False,5,NaN,NaN,NaN,NaN,MARCHE INTERNAT ST CHARLES,66000,PERPIGNAN,NaN,NaN,66136,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2007-02-28,F,ELIDIS BOISSONS SERVICES PERPIGNAN,NaN,NaN,NaN,51.3J,NAFRev1,N,2.846963,42.681168,0.77,poi.industrial,March√© International Saint-Charles (Zone indus...,https://osm.org/way/26683689,G,NaN,NaN
99,57804064,194,5780406400194,O,1996-01-04,NaN,NaN,NaN,2014-01-03T04:14:07,False,5,NaN,NaN,NaN,PL,HENRI DE TURENNE,66100,PERPIGNAN,NaN,NaN,66136,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012-12-31,F,SOMESYS AGENCE DE PERPIGNAN,NaN,NaN,NaN,35.30Z,NAFRev2,N,2.903726,42.688525,0.87,street,Place Henri de Turenne 66100 Perpignan,66136_5012,G,PLACE HENRI DE TURENNE,NaN
100,57816050,90,5781605000090,O,2016-06-01,01,2018.0,NaN,2020-08-25T10:12:38,True,2,LES TERRASSES DE LUCIE APPART C10,5.0,NaN,IMP,IMPASSE JORDI BARRE,66750,SAINT-CYPRIEN,NaN,NaN,66171,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-12-01,A,PEROSOL,NaN,NaN,SOPEX OURIKA FRUITS AGROMED,46.31Z,NAFRev2,O,2.994504,42.617174,0.88,housenumber,5 Impasse Jordi Barre 66750 Saint-Cyprien,66171_2002_00005,G,5 IMPASSE JORDI BARRE,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
281151,998823504,1975,99882350401975,O,1999-11-02,NN,NaN,NaN,2009-06-27T15:24:30,False,5,NaN,42.0,NaN,BD,ARISTIDE BRIAND,66100,PERPIGNAN,NaN,NaN,66136,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008-01-01,F,ADECCO,NaN,NaN,NaN,78.20Z,NAFRev2,O,2.900859,42.694026,0.87,housenumber,42 Boulevard Aristide Briand 66100 Perpignan,66136_0315_00042,G,42 BOULEVARD ARISTIDE BRIAND,NaN
281153,998823504,13129,99882350413129,O,1994-10-17,NaN,NaN,NaN,NaN,False,3,MAS GUERIDO,7.0,NaN,AV,ANDRE AMPERE,66330,CABESTANY,NaN,NaN,66028,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999-11-02,F,ADECCO,NaN,NaN,NaN,74.5B,NAF1993,N,2.919904,42.687620,0.84,housenumber,7 Avenue Andr√© Amp√®re 66330 Cabestany,66028_0019_00007,G,7 AVENUE ANDRE AMPERE,NaN
281155,998823504,24084,99882350424084,O,2005-12-05,01,2018.0,NaN,2020-08-25T11:51:53,False,4,NaN,36.0,NaN,BD,JOHN FITZGERALD KENNEDY,66100,PERPIGNAN,NaN,NaN,66136,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-04-30,F,ADECCO,NaN,NaN,NaN,78.20Z,NAFRev2,O,2.905385,42.687363,0.96,housenumber,36 Bd John Fitzgerald Kennedy 66100 Perpignan,66136_2762_00036,G,36 BD JOHN FITZGERALD KENNEDY,NaN
281156,998823504,24472,99882350424472,O,2006-04-18,NN,NaN,NaN,2011-04-23T18:58:43,False,3,NaN,2.0,B,AV,LEDRU ROLLIN,66600,RIVESALTES,NaN,NaN,66164,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2009-10-01,F,ADECCO,NaN,NaN,NaN,78.20Z,NAFRev2,O,2.871037,42.768754,0.71,housenumber,2 bis Avenue Ledru Rollin 66600 Rivesaltes,66164_0650_00002_bis,G,2 BIS AVENUE LEDRU ROLLIN,NaN
281157,998823504,25719,99882350425719,O,2007-12-24,02,2018.0,NaN,2020-08-25T11:51:53,False,2,NaN,158.0,NaN,AV,GEORGES GUYNEMER,66100,PERPIGNAN,NaN,NaN,66136,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008-11-16,A,ADECCO,NaN,NaN,NaN,78.20Z,NAFRev2,O,2.907938,42.687569,0.88,housenumber,158 Avenue Georges Guynemer 66100 Perpignan,66136_2300_00158,G,158 AVENUE GEORGES GUYNEMER,NaN

In [31]:
#geo7[["complementAdresseEtablissement", "numeroVoieEtablissement", "indiceRepetitionEtablissement", "typeVoieEtablissement", "geo_adresse", "geo_l5", "geo_l4"]][:50]
#geo7[:10]

# IDCC data

In [16]:
idccs = pd.read_csv("../siret2idcc/data/WEEZ.csv").rename(columns={"SIRET": "siret", "IDCC":"idcc"})

      MOIS           siret  idcc    DATE_MAJ
0  2020-07  83281405700044  1596  2020/08/28
1  2020-07  31446798600142     0  2020/08/28
2  2020-07  43976112300041  1516  2020/08/28
3  2020-07  79475815100037  9999  2020/08/28
4  2020-07  49895574900011  1702  2020/08/28
5  2020-07  39211568900011  1518  2020/08/28
6  2020-07   5880148100902  3210  2020/08/28
7  2020-07  80778942500012  1596  2020/08/28
8  2020-07  82236536700025  3043  2020/08/28
9  2020-07  38811047000019  9999  2020/08/28

# Merge all using siren and siret

In [20]:
employeurGeo = pd.merge(employeurs[selection], all_geo, on='siren')

In [21]:
merged = pd.merge(employeurGeo, idccs, how='left', on='siret')

In [22]:
with_cc = merged[merged["idcc"].notnull()]
with_cc = with_cc[with_cc.codePostalEtablissement.notnull()].astype({'idcc':'int'})

In [23]:
with_cc.to_csv("./siret-idcc.csv")

# Play with data

In [29]:
all_geo[all_geo["siret"] == 41077189300022]

,enseigne1Etablissement,enseigne2Etablissement,enseigne3Etablissement,denominationUsuelleEtablissement,siren,siret,codePostalEtablissement,libelleCommuneEtablissement,etatAdministratifEtablissement,geo_adresse
18276015,NaN,NaN,NaN,NaN,410771893,41077189300022,68700,CERNAY,A,75 Faubourg de Belfort 68700 Cernay

In [22]:
with_cc[with_cc["denominationUniteLegale"] == "ZARA FRANCE"]

,siren,trancheEffectifsUniteLegale,categorieEntreprise,nomUniteLegale,nomUsageUniteLegale,denominationUniteLegale,denominationUsuelle1UniteLegale,denominationUsuelle2UniteLegale,denominationUsuelle3UniteLegale,categorieJuridiqueUniteLegale,activitePrincipaleUniteLegale,nomenclatureActivitePrincipaleUniteLegale,siret,codePostalEtablissement,libelleCommuneEtablissement,etatAdministratifEtablissement,geo_adresse,MOIS,idcc,DATE_MAJ
567724,348991555,52,GE,NaN,NaN,ZARA FRANCE,NaN,NaN,NaN,5499,47.71Z,NAFRev2,34899155500619,75013,PARIS 13,A,Place d'Italie 75013 Paris,2020-07,675,2020/08/28
567726,348991555,52,GE,NaN,NaN,ZARA FRANCE,NaN,NaN,NaN,5499,47.71Z,NAFRev2,34899155500296,14000,CAEN,A,11 Rue de Strasbourg 14000 Caen,2020-07,675,2020/08/28
567727,348991555,52,GE,NaN,NaN,ZARA FRANCE,NaN,NaN,NaN,5499,47.71Z,NAFRev2,34899155500296,14000,CAEN,A,11 Rue de Strasbourg 14000 Caen,2020-07,9999,2020/08/28
567728,348991555,52,GE,NaN,NaN,ZARA FRANCE,NaN,NaN,NaN,5499,47.71Z,NAFRev2,34899155500494,75006,PARIS 6,A,45 Rue de Rennes 75006 Paris,2020-07,675,2020/08/28
567729,348991555,52,GE,NaN,NaN,ZARA FRANCE,NaN,NaN,NaN,5499,47.71Z,NAFRev2,34899155500569,75006,PARIS 6,A,59 Rue de S√®vres 75006 Paris,2020-07,675,2020/08/28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
567942,348991555,52,GE,NaN,NaN,ZARA FRANCE,NaN,NaN,NaN,5499,47.71Z,NAFRev2,34899155501401,31700,BLAGNAC,A,2 All√©e √âmile Zola 31700 Blagnac,2020-07,9999,2020/08/28
567943,348991555,52,GE,NaN,NaN,ZARA FRANCE,NaN,NaN,NaN,5499,47.71Z,NAFRev2,34899155501401,31700,BLAGNAC,A,2 All√©e √âmile Zola 31700 Blagnac,2020-07,675,2020/08/28
567944,348991555,52,GE,NaN,NaN,ZARA FRANCE,NaN,NaN,NaN,5499,47.71Z,NAFRev2,34899155501443,31120,ROQUES,A,(Galerie marchande) Houdemont,2020-07,9999,2020/08/28
567945,348991555,52,GE,NaN,NaN,ZARA FRANCE,NaN,NaN,NaN,5499,47.71Z,NAFRev2,34899155501443,31120,ROQUES,A,(Galerie marchande) Houdemont,2020-07,675,2020/08/28
567946,348991555,52,GE,NaN,NaN,ZARA FRANCE,NaN,NaN,NaN,5499,47.71Z,NAFRev2,34899155501609,31000,TOULOUSE,A,28 Rue d'Alsace Lorraine 31000 Toulouse,2020-07,675,2020/08/28

In [35]:
rcs = pd.read_csv("/Users/remim/Downloads/immatriculations-modifications-radiations-des-societes.csv")

ParserError: Error tokenizing data. C error: Expected 1 fields in line 6, saw 4

In [5]:
#raw[raw['denominationUniteLegale'] != np.NaN][['prenom1UniteLegale', 'etatAdministratifUniteLegale','nomUniteLegale', 'nomUsageUniteLegale', 'denominationUniteLegale', 'denominationUsuelle1UniteLegale']][:10]

In [6]:
#raw['denominationUniteLegale'].dropna().head(10)

In [34]:
f = raw['denominationUniteLegale'].dropna().isin(['RECOG'])

In [35]:
f[f]

19075437    True
Name: denominationUniteLegale, dtype: bool

In [57]:
raw.iloc[19075437]

siren                                                  832325187
statutDiffusionUniteLegale                                     O
unitePurgeeUniteLegale                                       NaN
dateCreationUniteLegale                               2017-10-01
sigleUniteLegale                                             NaN
sexeUniteLegale                                              NaN
prenom1UniteLegale                                           NaN
prenom2UniteLegale                                           NaN
prenom3UniteLegale                                           NaN
prenom4UniteLegale                                           NaN
prenomUsuelUniteLegale                                       NaN
pseudonymeUniteLegale                                        NaN
identifiantAssociationUniteLegale                            NaN
trancheEffectifsUniteLegale                                  1.0
anneeEffectifsUniteLegale                                 2018.0
dateDernierTraitementUniteLegale             2020-08-25T11:38:12
nombrePeriodesUniteLegale                                      2
categorieEntreprise                                          PME
anneeCategorieEntreprise                                  2018.0
dateDebut                                             2019-08-05
etatAdministratifUniteLegale                                   A
nomUniteLegale                                               NaN
nomUsageUniteLegale                                          NaN
denominationUniteLegale                                    RECOG
denominationUsuelle1UniteLegale                              NaN
denominationUsuelle2UniteLegale                              NaN
denominationUsuelle3UniteLegale                              NaN
categorieJuridiqueUniteLegale                               5710
activitePrincipaleUniteLegale                             63.11Z
nomenclatureActivitePrincipaleUniteLegale                NAFRev2
nicSiegeUniteLegale                                           25
economieSocialeSolidaireUniteLegale                            N
caractereEmployeurUniteLegale                                  O
Name: 19075437, dtype: object

In [100]:
geo1 = pd.read_csv("./data/geo/geo_siret_44.csv")

/Users/remim/dev/cdtn/enterprises/python-env/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (12,25,27,43) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [101]:

geo1[geo1.siren == 832325187]

,siren,nic,siret,statutDiffusionEtablissement,dateCreationEtablissement,trancheEffectifsEtablissement,anneeEffectifsEtablissement,activitePrincipaleRegistreMetiersEtablissement,dateDernierTraitementEtablissement,etablissementSiege,nombrePeriodesEtablissement,complementAdresseEtablissement,numeroVoieEtablissement,indiceRepetitionEtablissement,typeVoieEtablissement,libelleVoieEtablissement,codePostalEtablissement,libelleCommuneEtablissement,libelleCommuneEtrangerEtablissement,distributionSpecialeEtablissement,codeCommuneEtablissement,codeCedexEtablissement,libelleCedexEtablissement,codePaysEtrangerEtablissement,libellePaysEtrangerEtablissement,complementAdresse2Etablissement,numeroVoie2Etablissement,indiceRepetition2Etablissement,typeVoie2Etablissement,libelleVoie2Etablissement,codePostal2Etablissement,libelleCommune2Etablissement,libelleCommuneEtranger2Etablissement,distributionSpeciale2Etablissement,codeCommune2Etablissement,codeCedex2Etablissement,libelleCedex2Etablissement,codePaysEtranger2Etablissement,libellePaysEtranger2Etablissement,dateDebut,etatAdministratifEtablissement,enseigne1Etablissement,enseigne2Etablissement,enseigne3Etablissement,denominationUsuelleEtablissement,activitePrincipaleEtablissement,nomenclatureActivitePrincipaleEtablissement,caractereEmployeurEtablissement,longitude,latitude,geo_score,geo_type,geo_adresse,geo_id,geo_ligne,geo_l4,geo_l5
485627,832325187,25,83232518700025,O,2019-08-05,NaN,NaN,NaN,2019-11-18T19:38:14,True,1,IMMEUBLE ACROPOLE,2.0,NaN,RUE,CRUCY,44000,NANTES,NaN,BP 60515,44109,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-08-05,A,NaN,NaN,NaN,RECOG,63.11Z,NAFRev2,O,-1.546437,47.214826,0.96,housenumber,2 Rue Crucy 44000 Nantes,44109_2336_00002,G,2 RUE CRUCY,NaN

In [42]:
raw[raw.siren == 855200507]

,siren,statutDiffusionUniteLegale,unitePurgeeUniteLegale,dateCreationUniteLegale,sigleUniteLegale,sexeUniteLegale,prenom1UniteLegale,prenom2UniteLegale,prenom3UniteLegale,prenom4UniteLegale,...,denominationUniteLegale,denominationUsuelle1UniteLegale,denominationUsuelle2UniteLegale,denominationUsuelle3UniteLegale,categorieJuridiqueUniteLegale,activitePrincipaleUniteLegale,nomenclatureActivitePrincipaleUniteLegale,nicSiegeUniteLegale,economieSocialeSolidaireUniteLegale,caractereEmployeurUniteLegale
20542720,855200507,O,NaN,1955-01-01,NaN,NaN,NaN,NaN,NaN,NaN,...,MANUF FRANC PNEUMATIQ MICHELIN,NaN,NaN,NaN,5308,70.22Z,NAFRev2,17,N,O

In [47]:
geo1[['siren', 'siret', 'codePostalEtablissement', 'libelleCommuneEtablissement']][:10]

     siren         siret  codePostalEtablissement libelleCommuneEtablissement
0  5470018  547001800010                    44500          LA BAULE-ESCOUBLAC
1  5470075  547007500010                    44510                LE POULIGUEN
2  5470190  547019000017                    44490                  LE CROISIC
3  5470208  547020800017                    44600               SAINT-NAZAIRE
4  5470430  547043000017                    44570                     TRIGNAC
5  5470455  547045500014                    44500          LA BAULE-ESCOUBLAC
6  5470489  547048900013                    44480                      DONGES
7  5470620  547062000013                    44600               SAINT-NAZAIRE
8  5470653  547065300014                    44600               SAINT-NAZAIRE
9  5470927  547092700020                    44300                      NANTES

In [17]:
geo1

NameError: name 'geo1' is not defined

In [29]:
employeurs.columns

Index(['siren', 'statutDiffusionUniteLegale', 'unitePurgeeUniteLegale',
       'dateCreationUniteLegale', 'sigleUniteLegale', 'sexeUniteLegale',
       'prenom1UniteLegale', 'prenom2UniteLegale', 'prenom3UniteLegale',
       'prenom4UniteLegale', 'prenomUsuelUniteLegale', 'pseudonymeUniteLegale',
       'identifiantAssociationUniteLegale', 'trancheEffectifsUniteLegale',
       'anneeEffectifsUniteLegale', 'dateDernierTraitementUniteLegale',
       'nombrePeriodesUniteLegale', 'categorieEntreprise',
       'anneeCategorieEntreprise', 'dateDebut', 'etatAdministratifUniteLegale',
       'nomUniteLegale', 'nomUsageUniteLegale', 'denominationUniteLegale',
       'denominationUsuelle1UniteLegale', 'denominationUsuelle2UniteLegale',
       'denominationUsuelle3UniteLegale', 'categorieJuridiqueUniteLegale',
       'activitePrincipaleUniteLegale',
       'nomenclatureActivitePrincipaleUniteLegale', 'nicSiegeUniteLegale',
       'economieSocialeSolidaireUniteLegale', 'caractereEmployeurUniteLegale'],
      dtype='object')

In [119]:
selection = ["siren", "trancheEffectifsUniteLegale", "categorieEntreprise", 'nomUniteLegale', 'nomUsageUniteLegale', 'denominationUniteLegale',
       'denominationUsuelle1UniteLegale', 'denominationUsuelle2UniteLegale',
       'denominationUsuelle3UniteLegale', "categorieJuridiqueUniteLegale", "activitePrincipaleUniteLegale", "nomenclatureActivitePrincipaleUniteLegale"]
employeurs[selection][:50]

,siren,trancheEffectifsUniteLegale,categorieEntreprise,nomUniteLegale,nomUsageUniteLegale,denominationUniteLegale,denominationUsuelle1UniteLegale,denominationUsuelle2UniteLegale,denominationUsuelle3UniteLegale,categorieJuridiqueUniteLegale,activitePrincipaleUniteLegale,nomenclatureActivitePrincipaleUniteLegale
38,5420021,NN,PME,NaN,NaN,ETABLISSEMENTS LUCIEN BIQUEZ,NaN,NaN,NaN,5710,46.69B,NAFRev2
45,5420120,11,PME,NaN,NaN,SOCIETE DES SUCRERIES DU MARQUENTERRE,NaN,NaN,NaN,5599,70.10Z,NAFRev2
101,5450093,00,PME,NaN,NaN,BASALPINE AUTOCARS,NaN,NaN,NaN,5499,47.78C,NAFRev2
223,5520176,21,PME,NaN,NaN,HERNAS CARTONNAGE,NaN,NaN,NaN,5710,17.21A,NAFRev2
226,5520242,12,PME,NaN,NaN,PROSPA,NaN,NaN,NaN,5710,20.30Z,NAFRev2
229,5520325,12,PME,NaN,NaN,ETABLISSEMENTS ADRIEN RIQUIER,NaN,NaN,NaN,5710,46.74B,NAFRev2
283,5541552,01,PME,NaN,NaN,ETABLISSEMENTS BONNET FRERES,NaN,NaN,NaN,5499,56.10C,NAFRev2
442,5580113,01,ETI,NaN,NaN,CISN COOPERATIVE,NaN,NaN,NaN,5547,41.10A,NAFRev2
453,5580436,00,PME,NaN,NaN,BAUDINVEST,NaN,NaN,NaN,5710,70.22Z,NAFRev2
455,5580501,NN,GE,NaN,NaN,SOCIETE DES GLACIERES ET FRIGORIFIQUES DE SAIN...,STEF LOGISTIQUE,NaN,NaN,5710,52.10A,NAFRev2
504,5620034,11,PME,NaN,NaN,ETABLISSEMENTS ROGER,ETS ROGER BIG MAT,NaN,NaN,5710,46.73A,NAFRev2
509,5620117,03,PME,NaN,NaN,ETABLISSEMENTS DUBOIS,NaN,NaN,NaN,5599,46.69C,NAFRev2
511,5620174,01,PME,NaN,NaN,SOCIETE RIQUIER ET CIE,NaN,NaN,NaN,5710,45.20A,NAFRev2
512,5620190,21,PME,NaN,NaN,L'OISEAU BLEU,NaN,NaN,NaN,5499,49.39A,NAFRev2
520,5620422,NN,NaN,NaN,NaN,ETABLISSEMENTS R. DEBRAY,NaN,NaN,NaN,5599,46.61Z,NAFRev2
568,5650031,03,PME,NaN,NaN,SARL RIGAULT ET CIE,NaN,NaN,NaN,5499,10.13A,NAFRev2
577,5650148,01,GE,NaN,NaN,SCIC VALDURANCE HABITAT,NaN,NaN,NaN,5560,68.20A,NAFRev2
708,5680145,21,ETI,NaN,NaN,PROMENS MONTOIR DE BRETAGNE SAS,NaN,NaN,NaN,5710,22.22Z,NAFRev2
801,5720164,22,ETI,NaN,NaN,SA SAINTE-ISABELLE,NaN,NaN,NaN,5599,86.10Z,NAFRev2
814,5720552,12,PME,NaN,NaN,LALLOT PICARDIE,NaN,NaN,NaN,5599,25.73A,NAFRev2
816,5720594,01,PME,NaN,NaN,LES TRANSPORTS COMMERCIAUX,NaN,NaN,NaN,5499,49.41A,NAFRev2
818,5720610,01,ETI,NaN,NaN,PICARDIE MARITIME HABITAT FONDATION PAUL DUCLERCQ,PICARDIE MARITIME HABITAT,NaN,NaN,5560,41.10A,NAFRev2
820,5720644,01,PME,NaN,NaN,ETABLISSEMENTS DEMORTAIN,NaN,NaN,NaN,5710,47.52A,NAFRev2
822,5720685,02,PME,NaN,NaN,FORGEZ PERE ET FILS,NaN,NaN,NaN,5499,10.91Z,NAFRev2
826,5720784,32,ETI,NaN,NaN,ETABLISSEMENTS DECAYEUX,NaN,NaN,NaN,5710,25.99A,NAFRev2
927,5750153,01,PME,NaN,NaN,TOURING HOTEL,NaN,NaN,NaN,5499,55.10Z,NAFRev2
937,5750385,11,PME,NaN,NaN,ENTREPRISE COMBA,NaN,NaN,NaN,5499,43.99C,NAFRev2
950,5750583,02,PME,NaN,NaN,SERVICE ASSISTANCE TRANSCATIONS AUTO,NaN,NaN,NaN,5699,47.30Z,NAFRev2
1092,5780044,03,PME,NaN,NaN,PEINTURES SYNTHETIQUES MODERNES,NaN,NaN,NaN,5710,20.30Z,NAFRev2
1097,5780226,NN,PME,NaN,NaN,SOC LES MEUBLES MARGUY,LONDON ANTIQUES,NaN,NaN,5499,47.59A,NAFRev2
1101,5780390,12,GE,NaN,NaN,TRANSPORTS DE LA BRIERE,NaN,NaN,NaN,5599,49.39A,NAFRev2
1120,5780960,32,ETI,NaN,NaN,SOCIETE IMMOBILIERE TOURISTIQUE ET HOTELIERE D...,NaN,NaN,NaN,5710,55.10Z,NAFRev2
1122,5781133,12,ETI,NaN,NaN,IDEA GROUPE,NaN,NaN,NaN,5558,52.29B,NAFRev2
1255,5820360,NN,NaN,NaN,NaN,DELOUBRIERE JULES SOC,NaN,NaN,NaN,5599,28.5C,NAF1993
1256,5820378,22,GE,NaN,NaN,ENTREPRISE DEMOUSELLE,DEMOUSELLE,NaN,NaN,5710,43.21A,NAFRev2
1259,5820428,03,PME,NaN,NaN,SOCIETE ANONYME DUCROCQ ET COMPAGNIE,NaN,NaN,NaN,5710,46.23Z,NAFRev2
1260,5820477,22,PME,NaN,NaN,ETABLISSEMENTS RAOUL DAVERGNE,NaN,NaN,NaN,5710,24.54Z,NAFRev2
1378,5870027,01,PME,NaN,NaN,HOTEL LA CONCORDE,NaN,NaN,NaN,5710,55.10Z,NAFRev2
1438,5873450,00,PME,AUDUREAU,NaN,NaN,LE NEPTUNE,NaN,NaN,1000,55.10Z,NAFRev2
1531,5880596,01,PME,NaN,NaN,GEDIMO HOLDING,NaN,NaN,NaN,5710,64.20Z,NAFRev2
1534,5880679,01,ETI,NaN,NaN,SA COOPERATIVE D'INTERET COLLECTIF POURL'ACCES...,NaN,NaN,NaN,5560,68.20B,NAFRev2
1666,5920194,11,PME,NaN,NaN,SARL BEAUVISAGE TOULLET,NaN,NaN,NaN,5499,46.61Z,NAFRev2
1796,5950159,03,PME,NaN,NaN,SOCIETE BARNEAUD ET GIRAUD,NaN,NaN,NaN,5499,47.78B,NAFRev2
1964,5980016,11,PME,NaN,NaN,SOCIETE NAZAIRIENNE DE MECANIQUE,S N M,NaN,NaN,5710,25.62B,NAFRev2
1974,5980461,12,PME,NaN,NaN,ENTREPRISE JUDIC,NaN,NaN,NaN,5499,49.41B,NAFRev2
2235,6020010,NN,NaN,NaN,NaN,ETABLISSEMENTS FROMENTIN,NaN,NaN,NaN,5599,60.2L,NAF1993
2240,6020135,NN,PME,NaN,NaN,TERNOIS FONDERIE,NaN,NaN,NaN,5599,24.54Z,NAFRev2
2516,6076434,11,PME,NaN,NaN,ETABLISSEMENTS PIED ET PERRAUD,NaN,NaN,NaN,5499,43.32A,NAFRev2
2601,6080170,12,PME,NaN,NaN,COOP BREIZH,NaN,NaN,NaN,5560,58.11Z,NAFRev2
2697,6120109,NN,PME,NaN,NaN,DEGUERVILLE,DONALD,NaN,NaN,6599,64.20Z,NAFRev2

In [120]:
merged = pd.merge(employeurs[selection], all_geo, on='siren')

In [107]:
merged[:100]

,siren,trancheEffectifsUniteLegale,categorieEntreprise,denominationUniteLegale,categorieJuridiqueUniteLegale,activitePrincipaleUniteLegale,nomenclatureActivitePrincipaleUniteLegale,siret,codePostalEtablissement,libelleCommuneEtablissement,etatAdministratifEtablissement
0,5420021,NN,PME,ETABLISSEMENTS LUCIEN BIQUEZ,5710,46.69B,NAFRev2,542002100056,80100.0,ABBEVILLE,A
1,5420120,11,PME,SOCIETE DES SUCRERIES DU MARQUENTERRE,5599,70.10Z,NAFRev2,542012000023,62180.0,RANG-DU-FLIERS,A
2,5420120,11,PME,SOCIETE DES SUCRERIES DU MARQUENTERRE,5599,70.10Z,NAFRev2,542012000031,62140.0,MARCONNELLE,A
3,5420120,11,PME,SOCIETE DES SUCRERIES DU MARQUENTERRE,5599,70.10Z,NAFRev2,542012000049,62180.0,CONCHIL-LE-TEMPLE,A
4,5420120,11,PME,SOCIETE DES SUCRERIES DU MARQUENTERRE,5599,70.10Z,NAFRev2,542012000015,80120.0,RUE,A
...,...,...,...,...,...,...,...,...,...,...,...
95,6150148,01,PME,LE DAHUT,5499,56.30Z,NAFRev2,615014800010,4260.0,ALLOS,A
96,6180301,12,ETI,SOCIETE FINANCIERE ATLANTIC,5599,70.10Z,NAFRev2,618030100019,44600.0,SAINT-NAZAIRE,A
97,6220065,12,GE,ENTREPRISES OSCAR SAVREUX,5710,08.12Z,NAFRev2,622006500038,80550.0,LE CROTOY,A
98,6280309,12,ETI,COMPTOIR ATLANTIQUE DONGEOIS DE DISTRIBUTION E...,5710,23.63Z,NAFRev2,628030900094,29340.0,RIEC-SUR-BELON,A
99,6280309,12,ETI,COMPTOIR ATLANTIQUE DONGEOIS DE DISTRIBUTION E...,5710,23.63Z,NAFRev2,628030900128,56890.0,SAINT-AVE,A

In [60]:
all_geo[all_geo.siret.isnull()]

Empty DataFrame
Columns: [siren, siret, codePostalEtablissement, libelleCommuneEtablissement]
Index: []

In [84]:
merged[merged.siret.isnull()]

Empty DataFrame
Columns: [siren, trancheEffectifsUniteLegale, categorieEntreprise, denominationUniteLegale, categorieJuridiqueUniteLegale, activitePrincipaleUniteLegale, nomenclatureActivitePrincipaleUniteLegale, siret, codePostalEtablissement, libelleCommuneEtablissement]
Index: []

In [78]:
merged[merged.siret.isnull()]

,siren,trancheEffectifsUniteLegale,categorieEntreprise,denominationUniteLegale,categorieJuridiqueUniteLegale,activitePrincipaleUniteLegale,nomenclatureActivitePrincipaleUniteLegale,siret,codePostalEtablissement,libelleCommuneEtablissement
2458761,453478240,NN,NaN,ASSURANCES LEBAS-ROUAULT,2310,67.2Z,NAFRev1,NaN,NaN,NaN
2596942,481398733,NaN,NaN,AUTOUR DES FLEURS,2310,47.76Z,NAFRev2,NaN,NaN,NaN

In [83]:
merged.siret.shape

(5088990,)

In [121]:
idccs = pd.read_csv("../siret2idcc/data/WEEZ.csv").rename(columns={"SIRET": "siret", "IDCC":"idcc"})

In [122]:
idcc_merged = pd.merge(merged, idccs, how='left', on='siret')

In [115]:
idcc_merged.shape

(3311982, 14)

In [124]:
with_cc = idcc_merged[idcc_merged["idcc"].notnull()]

In [126]:
with_cc.to_csv("./siret-idcc.csv")

In [1]:
with_cc[with_cc["denominationUniteLegale"] == "ZARA FRANCE"]

NameError: name 'with_cc' is not defined